/****************** 全ページ共通の設定 ******************/

@charset "UTF-8";


/****************** bodyの設定 ******************/
body {
    margin: 0;
    background-color: #f7f7f7;
}


/****************** headerの設定　******************/
header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: #993300;
}


/****** headerのh1の範囲 ******/
header div {
    width: 1200px;
    margin:  0 auto;
}


/****** 見出しの設定　******/
header div h1 {
    height: 60px;
    color: #fff;
    padding-left: 10px;
    margin: 0;
    /* 高さを中央にする */
    line-height: 60px;
}


/****** ナビの範囲 ******/
header nav {
    width: 100%;
    background-color: #394548;
}


/****** グローバルナビ ******/
header ul {
    width: 1500px;
    height: 40px;
    /* 中央に要素を配置する */
    margin: 0 auto;
    padding: 0;
}


/****** ナビ ******/
header ul li {
    float: left;
    width: 295px;
    height: 40px;
    color: #62b4cc;
    text-align: center;
    line-height: 40px;
    list-style: none;
    border-left: 1px solid #f7f7f7;
}

header ul li:last-child {
    border-right: 1px solid #f7f7f7;
}


/****** グローバルリンクの文字色 ******/
header ul li a {text-decoration: none;}
header ul li a:link {color:#fff;}
header ul li a:visited {color:#fff;}
header ul li a:hover {color:#fff;}
header ul li a:active {color:#fff;}



/****************** TOPへ戻るボタン ******************/
#page-top {
    width: 70px;
    height: 50px;
    background-color: #993300;
    position: fixed;
    right: 30px;
    bottom: 30px;
}


/****** ボタンの文字の設定 ******/
#page-top p {
    width: 70px;
    height:50px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    color: #92e5fe;
}


/****** リンク部分の設定 ******/
#page-top a {
    text-decoration: none;
}

#page-top a:link {color:#fff;}
#page-top a:visited {color:#fff;}
#page-top a:hover {color:#fff;}
#page-top a:active {color:#fff;}


/****************** footer ******************/
footer {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #0b303b;
    line-height: 50px;
    color: #fff;
}
