@charset "UTF-8";

/****************** TOPへ戻るボタン ******************/
#page-top {
    width: 50px;
    height: 50px;
    background-color: #030304;
    position: fixed;
    right: 30px;
    bottom: 30px;
}


/****** ボタンの文字の設定 ******/
#page-top p {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0px;
    color: #92e5fe;
}


/****** リンク部分の設定 ******/
#page-top a {
    text-decoration: none;
}



/****************** コンテンツの設定 ******************/
#wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
    overflow: hidden;
}


/****** 画像 ******/
#wrapper #main-image img{
    width: 1200px;
    height: 400px;
}


/****** ｢お知らせ」の範囲 ******/
#wrapper #info {
    float: right;
    width: 800px;
    height: 300px;
    margin: 20px 83px 30px 0;
}


/****** 見出し｢お知らせ｣ ******/
#wrapper #info h2 {
    width: 790px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    color: #92e5fe;
    background-color: #28a6cc;
}


/****** 「お知らせ」の内容の範囲 ******/
#wrapper #info div {
    width: 750px;
    padding: 24px;
    border: 1px solid #408ca3;
}


/****** 「お知らせ」の内容 ******/
#wrapper #info div p {
    font-size: 23px;
    padding: 0 0 0 20px;
    text-decoration: underline;
}


/****** カテゴリー(ul)の設定 ******/
#wrapper #category {
    float: left;
    width: 150px;
    margin: 20px 0 30px 75px;
    border: 1px solid #408ca3;
}


/****** カテゴリーの内容 ******/
#wrapper #category li{
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: #394548;
}


/******* 四角の範囲 *******/
#wrapper #square_contents {
    margin-left: 75px;
}


/****** 四角 ******/
#wrapper .square {
    float: left;
    width: 200px;
    height:  200px;
    background-color: #28a6cc;
    margin: 40px 80px 20px 0;
}
