@charset "UTF-8";

/****************** コンテンツの設定 ******************/
#wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
    overflow: hidden;
}


/****** 画像 ******/
#wrapper #main-image img{
    width: 1200px;
    height: 400px;
}


/****** ｢お知らせ」の範囲 ******/
#wrapper #info {
    float: right;
    width: 800px;
    height: 300px;
    margin: 20px 83px 80px 0;
}


/****** 見出し｢お知らせ｣ ******/
#wrapper #info h2 {
    width: 790px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    color: #fff;
    background-color: #993300;
}


/****** 「お知らせ」の内容の範囲 ******/
#wrapper #info div {
    width: 750px;
    padding: 0 24px 24px 24px;
    border: 1px solid #394548;
}

#wrapper #info #new {
    font-size: 10px;
    color: red;
    margin-left: -20px;
    position: relative;
    top: 40px;
    left: 10px;
}


/****** 「お知らせ」の内容 ******/
#wrapper #info div p {
    font-size: 23px;
    padding: 0 0 0 20px;
    text-decoration: underline;
}


/****** カテゴリー(ul)の設定 ******/
#wrapper #category {
    float: left;
    width: 150px;
    margin: 20px 0 30px 75px;
    border: 1px solid #394548;
}


/****** カテゴリーの内容 ******/
#wrapper #category li{
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: #394548;
}


/******* 四角の範囲 *******/
#wrapper #square_contents {
    margin-left: 75px;
}


/****** 四角 ******/
#wrapper .square {
    float: left;
    width: 200px;
    height:  200px;
    background-color: #D2B48C;
    margin: 40px 80px 20px 0;
    background-image: url("./../img/s_president_img.jpg");
}
